<section class="sidebar">
    <nav>
        <div class="nav-wrapper">
            {% capture first_segment %}{{ page.url | remove_first: "/" | split: "/" | first }}{% endcapture %}
            <a class="header-nav-item {% if first_segment == '' %}active{% endif %}" href="{{ site.baseurl }}/">
                <div class="logo">
                    <img src="{{ site.baseurl }}/assets/images/ffdisk.svg"/>
                    <h3 class="logo-name">{{ site.title | default: site.github.repository_name }}</h3>
                </div>
            </a>

            <h3>About</h3>
            <a class="header-nav-item {% if first_segment == 'dreamforce' %}active{% endif %}" href="{{ site.baseurl }}/dreamforce/">Dreamforce</a> 
            <a class="header-nav-item {% if first_segment == 'sample' %}active{% endif %}" href="{{ site.baseurl }}/sample/">Sample</a>
        
            <!-- TODO Make this nav wrap the doc groups when in mobile size -->
        
            {% for group in site.data.documentation.doc-groups %}
                <h3>{{ group.title }}</h3>
                {% for doc in group.docs %}
                    <a class="{% if page.url == doc.url %}active{% endif %}" href="{{ doc.url }}" alt="{{ doc.title }}">{{ doc.title }}</a>
                {% endfor %}
            {% endfor %}
        </div>
    </nav>
</section>
