@mixin large {
    @media screen and (min-width: #{$large-breakpoint}) {
        @content;
    }
}

@mixin medium {
    @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: #{$medium-breakpoint}) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: $body-font, $default-fonts;
    font-size: 16px;
    line-height: 1.5;
    color: $body-text-color;

    @include small {
        flex-direction: column;
    }

    @include medium {
        flex-direction: row;
    }

    @include large {
        flex-direction: row;
    }

    &.hidden {
        @include small {
            overflow: hidden;
        }

        @include medium {
            overflow: initial;
        }
    }
}

a {
    color: $body-link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;

    @include small {
        margin-top: 4rem;
    }

    @include medium {
        margin: 0;
    }

    @include large {
        margin: 0;
    }

    .main-content {
        flex: 1;
        overflow: hidden;
        h1:first-of-type {
            font-size: 1.75rem;
            font-family: $subheading-font;
            margin-top: 0;
        }
    }
}

.main-content {
    word-wrap: break-word;

    h1:first-child {
        margin-top: 0;
    }

    @include small {
        padding: 2rem 1rem;
        font-size: 1rem;
    }

    @include medium {
        padding: 3rem 4rem;
        font-size: 1.1rem;
    }

    @include large {
        padding: 3rem 5rem;
        font-size: 1.1rem;
    }

    img {
        max-width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        color: $section-headings-color;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 1em;
    }

    code {
        padding: 2px 4px;
        font-family: $code-fonts;
        font-size: 0.9rem;
        color: $code-text-color;
        background-color: $code-bg-color;
        border-radius: 0.3rem;
    }

    pre {
        padding: 0.8rem;
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-family: $code-fonts;
        color: $code-text-color;
        word-wrap: normal;
        background-color: $code-bg-color;
        border: solid 1px $border-color;
        border-radius: 0.3rem;

        > code {
            padding: 0;
            margin: 0;
            font-size: 0.9rem;
            color: $code-text-color;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0;
        }
    }

    .highlight {
        margin-bottom: 1rem;

        pre {
            margin-bottom: 0;
            word-break: normal;
        }
    }

    .highlight pre,
    pre {
        padding: 0.8rem;
        overflow: auto;
        font-size: 0.9rem;
        line-height: 1.45;
        border-radius: 0.3rem;
        -webkit-overflow-scrolling: touch;
    }

    pre code,
    pre tt {
        display: inline;
        max-width: initial;
        padding: 0;
        margin: 0;
        overflow: initial;
        line-height: inherit;
        word-wrap: normal;
        background-color: transparent;
        border: 0;

        &:before,
        &:after {
            content: normal;
        }
    }

    ul,
    ol {
        margin-top: 0;
    }

    blockquote {
        padding: 0 1rem;
        margin-left: 0;
        color: $blockquote-text-color;
        border-left: 0.3rem solid $border-color;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    table {
        display: block;
        width: 100%;
        overflow: auto;
        word-break: normal;
        word-break: keep-all; // For Firefox to horizontally scroll wider tables.
        -webkit-overflow-scrolling: touch;

        th {
            font-weight: bold;
        }

        th,
        td {
            padding: 0.5rem 1rem;
            border: 1px solid $table-border-color;
        }

        tr:nth-of-type(odd) {
            background-color: $table-secondary-color;
        }

        img {
            width: 4rem;
            &:hover {
                filter: invert(25%) brightness(125%) contrast(130%);
            }
        }
    }

    hr {
        height: 2px;
        padding: 0;
        margin: 1rem 0;
        background-color: $hr-border-color;
        border: 0;
    }
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px $hr-border-color;

    @include small {
        font-size: 0.9rem;
    }

    @include medium {
        font-size: 1rem;
    }

    @include large {
        font-size: 1rem;
    }
}
