@font-face {
    font-family: 'Campton-Bold';
    src: url('../fonts/campton_bold-webfont.woff2') format('woff2')
}

@font-face {
    font-family: 'Campton-Book';
    src: url('../fonts/campton_book-webfont.woff2') format('woff2')
}
