.page-header {
    background: $hero-background;

    .project-name {
        font-family: $heading-font, sans-serif;
        font-weight: normal !important;
    }
}

.top-bar .logo {
    height: auto;
    @media screen and (min-width: $large-breakpoint) {
        width: 275px;
    }
    @media screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
        width: 250px;
    }
    @media screen and (max-width: $medium-breakpoint) {
        width: 200px;
    }
}
