.hero-section {
    background: linear-gradient(90deg, $header-bg-color-primary, $header-bg-color-secondary);
    min-height: 1rem;
}

.hero {
    text-align: center;
    color: $header-heading-color;
    
    @include small {
        padding: 2rem 1rem;
    }

    @include medium {
        padding: 2rem 3rem;
    }

    @include large {
        padding: 3rem 4rem;
    }
}

.hero-logo img {
    height: auto;

    @include small {
        width: 16rem;
    }

    @include medium {
        width: 20rem;
    }
    
    @include large {
        width: 28rem;
    }
}

.project-name {
    margin: 0;
    font-family: $heading-font, $default-fonts;
    font-weight: normal !important;

    @include small {
        font-size: 2rem;
    }

    @include medium {
        font-size: 2.25rem;
    }

    @include large {
        font-size: 3.25rem;
    }
}

.project-tagline {
    font-weight: normal;
    opacity: 0.75;

    @include small {
        font-size: 1rem;
    }

    @include medium {
        font-size: 1.15rem;
    }

    @include large {
        font-size: 1.25rem;
    }
}
