html {
    height: 100%;
    body {
        font-family: $body-font, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        color: $main-font-color;
        -webkit-font-smoothing: antialiased;
        
        .content {
            flex: 1;
            @media screen and (min-width: 3 * $min-navbar-column-width) {
                display: flex;
                flex-direction: row;
            }
            section.main-content {
                flex: 1;
                overflow: hidden;
                h1:first-of-type {
                    font-size: 1.75em;
                    font-family: $subheading-font;
                    margin-top: 0;
                }
            }
        }
    }
}

table {
    tbody tr:nth-of-type(odd) {
        background-color: $light-gray;
    }
    img {
        height: 1.5rem;
    }
}
