.navbar {
    align-items: center;
    background-color: $nav-bg-color;
    display: flex;
    color: $nav-fg-color;
    flex-direction: row;
    font-size: 1.1rem;
    justify-content: flex-start;

    a {
        padding: 0 0.75rem;
        color: $nav-fg-color;
        text-decoration: none;
        transition: color 0.1s, background-color 0.1s;

        &:hover {
            color: $nav-hover-color;
        }

        &.active {
            color: $body-link-color;
            pointer-events: none;
        }
    }

    h1,h2,h3 {
        margin-bottom: 0;
        &:first-child {
            margin-top: 0;
        }
    }

    nav {
        display: flex;
        flex: 1;
        padding: 0.5rem;
    }

    &.row nav {
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 3rem;
        padding: 0.5rem 3rem 0.5rem 0.5rem;
    }

    &.row nav.center-nav {
        justify-content: center;
        padding: 0.5rem 0;
    }
}

.navbar .logo {
    display: flex;
    align-items: center;
    line-height: 3rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;

    img {
        padding: 0 0.5rem 0 0;
        height: 2.5rem;
    }

    .logo-name {
        line-height: 1;
        margin: 0;
        font-family: $body-font, sans-serif;
    }

    &.logo-off {
        display: none;
    }
}
