.navbar {
    display: flex;
    flex-direction: column;
    background-color: $nav-bg-color;
    color: $nav-fg-color;
    font-size: 1rem;
    z-index: 100;

    @include small {
        position: fixed;
        left: 0;
        right: 0;
        min-height: 4rem;
    }

    @include medium {
        position: initial;
        left: initial;
        right: initial;
        min-width: 14rem;
        min-height: initial;
    }

    @include large {
        position: initial;
        left: initial;
        right: initial;
        min-width: 16rem;
        min-height: initial;
    }
}

.navbar .topnav {
    display: flex;

    .logo-nav-group {
        flex: 1;
        line-height: 0;
        padding: 0.75rem;

        @include medium {
            position: fixed;
            min-width: 14rem;
            text-align: center;
        }

        @include large {
            position: fixed;
            min-width: 16rem;
            text-align: center;
        }
    }

    .nav-menu {
        margin: 0.75rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
        vertical-align: middle;
        width: 2.5rem;
        height: 2.5rem;
        color: $nav-fg-color;
        text-decoration: none;
        border-radius: 4px;

        @include medium {
            display: none;
        }

        @include large {
            display: none;
        }

        &:hover {
            color: lighten($body-link-color, 8%);
            text-decoration: none;
        }
    }
}

.navbar .logo-nav-item {
    display: inline-block;
    padding: 0;

    .logo {
        display: inline-flex;
        align-items: center;
        line-height: 2.5rem;

        @include small {
            justify-content: flex-start;
        }
        
        @include medium {
            justify-content: center;
        }

        @include large {
            justify-content: center;
        }
    
        img {
            padding: 0 0.25rem 0 0;
            height: 2.5rem;
        }
    
        .logo-name {
            line-height: 1;
            margin: 0;
            font-family: $body-font, sans-serif;
        }
    }

    &:hover {
        background: none;
    }
}

.navbar nav {
    position: fixed;
    top: 4rem;
    left: 0;
    bottom: -80px;
    padding: 0;
    transition: opacity 0.1s ease-in-out;
    background-color: $nav-bg-color;

    @include small {
        right: 0;
    }

    @include medium {
        width: 14rem;
    }

    @include large {
        width: 16rem;
    }

    &.hidden {

        @include small {
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s 0.1s, opacity 0.1s ease-in-out;
        }

        @include medium {
            opacity: initial;
            visibility: initial;
        }

        @include large {
            opacity: initial;
            visibility: initial;
        }
    }
}

.navbar .nav-wrapper {
    display: block;
    padding: 0;
    height: 100%;
    padding-bottom: 80px;
    overflow-y: auto;

    .nav-group {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        h1,h2,h3 {
            margin: 0 0.75rem 0.5rem 0.75rem;
            border-bottom: 1px solid lighten($nav-bg-color, 15%);
            padding: 0 0.25rem 0.25rem 0.25rem;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

.nav-item {
    padding: 0.75rem 0 0.75rem 1.5rem;
    color: $nav-fg-color;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;

    &:hover {
        color: lighten($body-link-color, 8%);
        background: lighten($nav-bg-color, 4%);
        text-decoration: none;
    }

    &.active {
        color: $body-link-color;
        pointer-events: none;
    }
}
