.repo-controls {
    float: right;

    img {
        display: inline-block;
        vertical-align: text-bottom;
        height: 1.5rem;
    }

    a {
        display: inline-block;
        line-height: 1.1rem;
        margin: 0;
        color: $btn-color;
        background-color: $btn-bg-color;
        border: $btn-border-color 1px solid;
        border-radius: 0.3rem;
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;
        padding: 0.5rem 0.75rem;
    }
    a:hover {
        text-decoration: none;
        background-color: darken($btn-bg-color, 4%);
        border-color: darken($btn-border-color, 4%);
    }
}
