// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #333333 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #333333 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// NEW vars

// fonts
$heading-font: 'Campton-Bold';
$subheading-font: 'Campton-SemiBold';
$body-font: 'Campton-Book';

// block colours
$main-font-color: #333333;
$dark-blue: #333333;
$medium-blue: #005FB2;
$light-blue: #0C8EFF;
$light-gray: #eeeeee;
$purple: #7B3DCB;
$steel: #B3B3B3;
$snow: #FFFFFF;

// transparent colours
$black-thick-glass: rbga(0, 0, 0, 0.8);
$black-medium-glass: rbga(0, 0, 0, 0.3);
$black-thin-glass: rbga(0, 0, 0, 0.2);
$black-thinnest-glass: rbga(0, 0, 0, 0.1);
$blue-glass: rbga(0, 57, 107, 0.2);

// sizes
$min-navbar-column-width: 200px;
