// block colours
$dark-blue: #00396B;
$medium-blue: #005FB2;
$light-blue: #0C8EFF;
$light-gray: #eeeeee;
$purple: #7B3DCB;
$steel: #B3B3B3;
$snow: #FFFFFF;

// transparent colours
$black-thick-glass: rbga(0, 0, 0, 0.8);
$black-medium-glass: rbga(0, 0, 0, 0.3);
$black-thin-glass: rbga(0, 0, 0, 0.2);
$black-thinnest-glass: rbga(0, 0, 0, 0.1);
$blue-glass: rbga(0, 57, 107, 0.2);

// sizes
$min-navbar-column-width: 200px;
