// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Fonts
$default-fonts: Helvetica, Arial, sans-serif;
$heading-font: 'Campton-Bold';
$subheading-font: 'Campton-SemiBold';
$body-font: 'Campton-Book';

// Headers
$header-heading-color: #FFFFFF;
$header-bg-color-primary: #2C4FD9;
$header-bg-color-secondary: #E9004C;

// Text
$section-headings-color: #333333;
$body-text-color: #333333;
$body-link-color: #E9004C;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #F3F6FA;
$code-text-color: #567482;
$code-fonts: Consolas, "Liberation Mono", Menlo, Courier, monospace;

// Table
$table-secondary-color: #EEEEEE;

// Borders
$border-color: #DCE6F0;
$table-border-color: #E9EBEC;
$hr-border-color: #EFF0F1;

// Button
$btn-color: #1E252B;
$btn-bg-color: #DBD9D6;
$btn-border-color: #CAC8C8;

// Nav
$nav-hover-color: #DBD9D6;
$nav-fg-color: #FFFFFF;
$nav-bg-color: #1E252B;
$nav-link-color: #333333;
